In [1]:
# importacao das bibliotecas
import pandas as pd
import seaborn as sb
import statistics as st

In [2]:
# importacao do conjunto de dados
data = pd.read_csv('tempo.csv', sep=';')
data.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [4]:
# tamanho da tabela
data.shape

(14, 5)

In [11]:
# tratando a coluna 'Aparencia'
grupo_aparencia = data.groupby(['Aparencia']).size()
grupo_aparencia

Aparencia
chuva      6
nublado    3
sol        5
dtype: int64

In [8]:
# substituindo os valores que estão fora do domínio pela moda
data.loc[data['Aparencia'] == 'menos', 'Aparencia'] = 'chuva'
data.loc[data['Aparencia'] == 'menos']

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [12]:
# verificando
grupo_aparencia

Aparencia
chuva      6
nublado    3
sol        5
dtype: int64

In [13]:
# verificando as temperaturas fora do domínio
data.loc[ (data['Temperatura'] < -130) | (data['Temperatura'] > 130)]

  Aparencia  Temperatura  Umidade  Vento Jogar
7       sol         1220     95.0  FALSO   nao

In [14]:
#calculando a mediana
mediana = st.median(data['Temperatura'])
mediana

73.5

In [15]:
# substituindo pela mediana
data.loc[ (data['Temperatura'] < -130) | (data['Temperatura'] > 130), 'Temperatura'] = mediana
# verificando se foi removido corretamente
data.loc[ (data['Temperatura'] < -130) | (data['Temperatura'] > 130)]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [17]:
# olhando se existem valores fora do domínio
data.loc[ (data['Umidade'] < 0) | (data['Umidade'] > 100)]

  Aparencia  Temperatura  Umidade Vento Jogar
9     chuva         75.0    200.0   NaN   sim

In [18]:
# calculando a mediana
mediana = st.median(data['Umidade'])
mediana

85.5

In [19]:
# substituinido
data.loc[ (data['Umidade'] < 0) | (data['Umidade'] > 100), 'Umidade'] = mediana
# verificando se foi feira a subst corretamente
data.loc[ (data['Umidade'] < 0) | (data['Umidade'] > 100)]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [20]:
data.head(len(data))

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0      NaN       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6      chuva         64.0     65.0  VERDADEIRO   sim
7        sol         73.5     95.0       FALSO   nao
8        sol         69.0     70.0       FALSO   sim
9      chuva         75.0     85.5         NaN   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao

In [23]:
# tratando os valores NaN

data.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [24]:
# tratando a umidade

# mediana
mediana = st.median(data['Umidade'])
mediana

85.5

In [25]:
# substituindo o Na pela mediana
data['Umidade'].fillna(mediana, inplace=True)

In [26]:
# verificando
data.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          1
Jogar          0
dtype: int64

In [28]:
# tratando o vento

# verificando a moda
grupo_vento = data.groupby(['Vento']).size()
grupo_vento

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [29]:
# substituindo Na pela MODA
data['Vento'].fillna('FALSO', inplace=True)

In [30]:
# verificando
data.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

In [32]:
# verificando
data

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol         85.0     85.0       FALSO   nao
1        sol         80.0     90.0  VERDADEIRO   nao
2    nublado         83.0     86.0       FALSO   sim
3      chuva         70.0     85.5       FALSO   sim
4      chuva         68.0     80.0       FALSO   sim
5      chuva         65.0     70.0  VERDADEIRO   nao
6      chuva         64.0     65.0  VERDADEIRO   sim
7        sol         73.5     95.0       FALSO   nao
8        sol         69.0     70.0       FALSO   sim
9      chuva         75.0     85.5       FALSO   sim
10       sol         75.0     70.0  VERDADEIRO   sim
11   nublado         72.0     90.0  VERDADEIRO   sim
12   nublado         81.0     75.0       FALSO   sim
13     chuva         71.0     91.0  VERDADEIRO   nao